[user]
    name = Gianluca Arbezzano
    email = ciao@gianarb.it
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev=7
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    pr = "!f() { git fetch $1 refs/pull/$2/head:pr/$1/$2 && git checkout pr/$1/$2;  } ; f"
    prune = fetch --prune
    conflicts = "!f() { git format-patch $1 --stdout | git-apply --check - 2>&1; } ; f"
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[github]
    user = gianarb
    [color]
        ui = auto

[diff]
    # Detect copies as well as renames
    renames = copies
    compactionHeuristic = true

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
[status]
    showUntrackedFiles = all
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[pull]
	rebase = false
[url "ssh://git@github.com/eradb/tsbs"]
	insteadOf = https://github.com/eradb/tsbs
[push]
	autoSetupRemote = true
