[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conference
Exec=/usr/bin/zoom %U env QT_SCALE_FACTOR=2
Icon=Zoom.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/zoommtg;application/x-zoom;
X-KDE-Protocols=zoommtg
Name[en_US]=Zoom
