snippet gs "PHP Class Getter Setter" !b
private $$1

public function get${1/(\w+)\s*;/\u$1/}()
{
    return $this->${1/(\w+)\s*;/$1/};$2
}

public function set${1/(\w+)\s*;/\u$1/}($${1/(\w+)\s*;/$1/})
{
    $this->${1/(\w+)\s*;/$1/} = $${1/(\w+)\s*;/$1/};$3
    ${4:return $this;}
}
$0
endsnippet
